@media (max-width: 1200px){
    .apresentacao{
        background-size: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .apresentacao__div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px 10px;        
    }
    
    .apresentacao__titulo{
        font-family: var(--fonte-pri);
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .apresentacao__logo{
        width: 100%;
        margin: 1em 0 1em 0;
    }

    .apresentacao__botao1{
        font-size: 12px;
        width: 80%;
    }
    
    .apresentacao__botao2{
        font-size: 12px;
        width: 80%;
    }

    .apresentacao__aviso{
        font-size: 10px;
    }

    .sessao2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5em;
        justify-content: center;
    }

    .sessao2__img{
        width: 100%;
    }

    .sessao2__div{
        margin: 0;
    }

    .sessao2__titulo{
        font-size: 40px;
    }

    .sessao2__texto{
        font-size: 15px;
    }

    .sessao3__lista{
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        gap: 20px;
    }
     .lista__mar{
        margin: 0 0 5px 0;
     }

     .cel{
        width: 45%;
     }

     .rod__img{
        width: 50%;
    }

     .rod__lista{
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        gap: 10px;
        margin-bottom: 15px;
     }

     .rod__link{
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        color: var(--cor-ter);
     }

}
